.storyreelbig{
    width: 390px;
    height: 844px;
    padding-top: 39px;
    padding-left: 20px;
    background-color: #000000;
}

.storyreelbig_text{
    display: flex;
    
}
.storyreelbig_text_text{
    width: 120px;
    height: 21px;
    font-family: NanumGothic;
    font-size: 18px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.storyreelbig_text_img{
    margin-left: 208px;
    margin-top: -10px;
}

.storyreelbig_line{
    width: 365px;
    height: 0;
    margin-top: 20px;
    border: solid 2px #ffffff;
}

.storyreelbig_img_img{
    width: 390px;
    height: 644px;
    margin-top: 20px;
    margin-left: -10px;
}

.storyreelbig_web_button{
    width: 370px;
    height: 36px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #ffffff;
}

.storyreelbig_web_button > p{
    width: 120px;
    height: 16px;
    font-family: 'Nanum Gothic';
    font-size: 14px;
    font-weight: 900;

    text-align: center;
    color: #000000;
    margin-left: 120px;
}